.navbar{
	
	font-size:20px;
	color:white;
	background-color:lightblue;
}
.img{
	height:50px;
	width:60px;
	margin-top:-10px;
}
h4{
	color:black;
}

.middle{
	background-image:url('../assets/img/111.png');
	height:675px;
	width:1335px;
	background-repeat: no-repeat; 
	margin-left:8px;
	margin-top:70px;
	background-size:100%;
}


.fab{
	font-size: 30px;
  border-radius: 42%;
  padding: 15px;
  height:60px;
  width:60px;
  color: white;
  background:#3385ff;
  margin-top:5px;
  text-align:center;
 }
div.fixed{
    position: fixed;
    top: 99px;
    left: 0px;
    width: 300px;
}
.f:hover{
	border:2px solid black;
	background-color:blue;
}
.f1:hover{
	border:2px solid black;
	background-color:#d34836;
}
.f2:hover{
	border:2px solid black;
	background-color:#00aced;
}
.f3:hover{
	border:2px solid black;
	background-color: #4875B4;
}
.footer{
	background-color:gray;
	height:30px;
	text-align:center;
	bottom:10px;
	font-size:20px;
	margin-left:-110px;
}
.na{
	margin-left:382px;
	margin-top:19px;
}
.na1{
	margin-top:-51px;
	color:black;
}
h2{
	text-align:center;
}
span{
	color:black;
}
.box{
		background-color:lightgray;
		padding:5px;
}
.fas1{
	border:1px solid black;
	color:white;
	background-color:black;
}
img{
	margin-left:-5px;
	margin-bottom:-5px;
}
.con{
	background:linear-gradient(to top, #ffffff 0%, #ff0066 100%);;
	margin-top:77px;
}
.box1{
	background-color:white;
	padding:45px;
	
}
h1{
	color:white;
	margin-top:-35px;
	text-align:center;
}
.footer1{
	background-color:gray;
	height:30px;
	text-align:center;
	bottom:10px;
	font-size:15px;
	margin-top:3px;
	margin-left:3px;
}
.sp{
	font-size:20px;
}
.padding{
	padding:20px; 
}
.spa{
	padding:25px;
	height:100px;
}