<!--The content below is only a placeholder and can be replaced.-->

<div class="body">
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			  <!-- Brand/logo -->
			  <a class="navbar-brand" href="#">
				<img src="../assets/img/1.png" alt="logo" class="img">
			  </a>
			  
			  <!-- Links -->
			<ul class="nav navbar-nav">
				<li><a routerLink="/Add-Employee"><h4>Add Employee</h4></a></li>
				<li><a routerLink="Edit-Employee"><h4>Edit Employee</h4></a></li>
				<li><a routerLink="Employee"><h4>Employee</h4></a></li>
			</ul>
			<form class="navbar-form na navbar-left">
				<div class="input-group">
				<input type="text" class="form-control" placeholder="Search" name="search">
				<div class="input-group-btn">
				  <button class="btn btn-default" type="submit">
					<i class="glyphicon glyphicon-search"></i>
				  </button>
				</div>
			  </div>
			</form>
			<ul class="nav na1 navbar-nav navbar-right">
				<li><a href="#"><span class="glyphicon glyphicon-user"></span><span>Sign Up</span></a></li>
				<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> <span>Login</span></a></li>
			</ul>
		</div>
	</nav>

	<div class="middle"><router-outlet></router-outlet>
		<div class="fixed ">
		<a class="fab f fa-facebook-f"></a><br>
		<a class="fab f2 fa-twitter"></a><br>
		<a class="fab f1 fa-google-plus-g"></a><br>
		<a class="fab f3 fa-linkedin-in"></a><br>
		<a class="fas f fab fa-location-arrow"></a>
		</div>
	</div>
		<div class="spa">
			<div class="container">
				<div class="row">
					<div class="col-md-4"><h2>Trends</h2>
						<h4 class="box"><i class="fas fas1 fa-video"></i>  A close-up of Chobani’s digital transformation.<br>
						<br>
						<br>
						<img src="../assets/img/12.png"></h4>
					</div>
					<div class="col-md-4"><h2>Perspectives</h2>
						<h4 class="box"><i class="far fas1 fa-newspaper"></i>  Digitization has opened up a world of possibilities for media and entertainment.<br><br><br>
						<img src="../assets/img/123.png"></h4>
					</div>
					<div class="col-md-4"><h2>Statistics</h2>
						<h4 class="box"><i class="far fas1 fa-newspaper"></i>  Will Gamification be a Game Changer in Insurance Distribution?.<br><br><br>
						<img src="../assets/img/122.png"></h4>

					</div>
				</div>			
			</div>
			<div class="con">
				<h1>Trending @ Infosys</h1>
					<div class="container">
						<div class="row">
							<div class="col-md-4">
								<h4 class="box1"><img src="../assets/img/6.jpg">Bring in #agility and explore new sources of value through Infosys API Economy. Learn how your organization can connect better and faster with Infosys APIs, Microservices and Integration infy.com/2GuNClK pic.twitter.com/phJw35xf4A.</h4>
							</div>
							<div class="col-md-4">
								<h4 class="box1"><img src="../assets/img/6.jpg">Innovators should ensure the ethical development of #AI so that it works for the growth and betterment of the human race, says Ajay Vij, Infosys. So, how do we ensure that AI is used as a tool rather than a threat? bit.ly/2GkXwub pic.twitter.com/YjnshFqIjY</h4>
							</div>
							<div class="col-md-4">
								<h4 class="box1"><img src="../assets/img/7.jpg">Innovators should ensure the ethical development of #AI so that it works for the growth and betterment of the human race, says Ajay Vij, Infosys. So, how do we ensure that AI is used as a tool rather than a threat? bit.ly/2GkXwub pic.twitter.com/VbomJl2CdR</h4>
							</div>
						</div>
					</div>
			</div>
			<div class="padding">
				<div class="container">
					<div class="row">
						<div class="col-sm-1"></div>
						<div class="col-sm-3"><a class="fa fa-phone "> <span class="sp">Contact Us</span></a></div>
						<div class="col-sm-3"><a class="fa fa-map-marker"> <span class="sp">Locate Us</span></a></div>
						<div class="col-sm-3"><a class="fas fa-envelope-open"> <span class="sp">Subscribe to our Newsletter</span></a></div>
						<div class="col-sm-2"></div>
					</div>
				</div>
			</div>
			<div class="footer">
				<footer><i class="far fa-copyright"></i>2014-Employee Form<br></footer>
				<h5 class="footer1">The website is best experienced on the following version (or higher) of Chrome 31, Firefox 26, Safari 6 and Internet Explorer 9 browsers</h5>
				
			</div>
		</div>	
</div>